{
  "table": "{{tableName}}",
  "relations": [
    {{#relations}}
    {
      "type": "OneToMany",
      "targetTable": "{{targetTable}}",
      "targetField": "{{targetField}}"
    }{{^last}},{{/last}}
    {{/relations}}
  ]
}
